@charset "UTF-8";
/* Responsiveness */
/* Tablets (768px o menos) */
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Outfit:wght@100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  header nav ul {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 10px 0;
  }
  header nav ul li {
    margin: 5px 0;
  }
  .hero h1 {
    font-size: 2em;
  }
  .hero p {
    font-size: 1em;
  }
  .section h2 {
    font-size: 1.8em;
  }
  .grid {
    gap: 15px;
  }
}
/* Móviles (480px o menos) */
@media (max-width: 480px) {
  header {
    align-items: center;
  }
  header .logo img {
    width: 30px;
    height: 30px;
  }
  header nav ul {
    align-items: center;
  }
  .hero h1 {
    font-size: 1.8em;
  }
  .hero p {
    font-size: 0.9em;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .card h3 {
    font-size: 1em;
  }
  .card button {
    font-size: 0.9em;
  }
}
/* TARJETAS */
main {
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.tarjetas p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.1em;
}

.tarjetas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.tarjeta {
  background: #cb3232;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.tarjeta img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.tarjeta h2 {
  font-size: 1.2em;
  margin: 15px 0 10px;
}

.tarjeta .precio {
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.tarjeta button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tarjeta button:hover {
  background-color: #555;
}

.tarjeta:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/*FOOTER*/
.footer {
  position: relative;
  width: 100%;
  background-color: rgb(0, 0, 0);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
}

.footer p {
  color: rgb(0, 238, 255);
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px 5px;
  flex-wrap: wrap;
}

.icon-element {
  list-style: none;
}

.icon {
  color: rgb(0, 238, 255);
  font-size: 32px;
  display: inline-block;
  margin: 0 10px;
  transition: 0.5s;
}

.icon:hover {
  transform: translateY(-10px);
}

.menu {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.menu-element {
  list-style: none;
}

.menu-icon {
  color: rgb(0, 238, 255);
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  margin: 5px 10px;
  opacity: 0.5;
  transition: 0.3s;
  list-style: none;
}

.menu-icon:hover {
  opacity: 1;
}

.text {
  color: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 20px;
}

header {
  background-color: #080a8a;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  flex-wrap: wrap;
}

header .logo {
  display: flex;
  align-items: center;
}

header img {
  width: 40px; /* Ajusta el tamaño del logo */
  height: 40px;
  margin-right: 10px; /* Espacio entre el logo y el texto */
  border-radius: 5px; /* Opcional: esquinas redondeadas */
}

header nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
}

header nav ul li a:hover {
  text-decoration: underline;
}

header .busqueda {
  display: flex;
  margin-top: 10px;
}

header .busqueda input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  width: 200px;
}

header .busqueda button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

header .busqueda button:hover {
  background-color: #777;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-size: cover;
  margin: 0;
}

.main {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

header {
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  flex-wrap: wrap;
}

header .logo {
  display: flex;
  align-items: center;
}

header img {
  width: 80px; /* Ajusta el tamaño del logo */
  height: 80px;
  margin-right: 10px; /* Espacio entre el logo y el texto */
  border-radius: 5px; /* Opcional: esquinas redondeadas */
}

header nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  color: #00f2ff;
  text-decoration: none;
  font-size: 1em;
}

header nav ul li a:hover {
  text-decoration: underline;
}

header .busqueda {
  display: flex;
  margin-top: 10px;
}

header .busqueda input {
  padding: 5px;
  border: 1px solid #00ffff;
  border-radius: 5px 0 0 5px;
  width: 200px;
}

header .busqueda button {
  background-color: #00ffff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

header .busqueda button:hover {
  background-color: #777;
}

.hero {
  background: url("../img/cyberpunk-2077-formulario.jpg") center/cover no-repeat; /* Ruta a tu imagen */
  height: 600px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-family: "Bruno Ace SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  color: #6f00ff;
}

.hero p {
  font-size: 1.2em;
  font-family: "Bruno Ace SC", sans-serif;
  color: white;
}

.hero .btn-hero {
  background-color: #6f00ff;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  display: inline-block;
}

.hero .btn-hero:hover {
  background-color: #00ffff;
}

h2 {
  font-size: 70px;
  background-color: #00ffff;
  font-family: sans-serif;
  font-family: "Bruno Ace SC", sans-serif;
}

.productos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.productos-grid .producto button {
  background-color: #6f00ff;
  color: white;
}


.productos-grid .producto button:hover { 
  background-color: #00ffff;
}

.productos-grid .producto h3 {
  background-color: #00ffff;
  color: black;
  font-family:"Bruno Ace SC", sans-serif;
}

.productos-grid .producto {
  background-color: rgb(239, 238, 238);
}

/*OFERTAS*/

.ofertas {
  font-size: 50px;
  background-color: #00ffff;
  font-family: "Bruno Ace SC", sans-serif;
}


/*JUEGOS PS4*/
main {
  padding: 0px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Bruno Ace SC", sans-serif;
}

.juegos p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.1em;
  font-family: "Bruno Ace SC", sans-serif;
}

.juegos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.juego {
  background: rgb(239, 238, 238);
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.juego img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.juego h2 {
  font-size: 1.2em;
  margin: 15px 0 10px;
  font-family: "Bruno Ace SC", sans-serif;
}

.juego .precio {
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.juego button {
  padding: 10px 20px;
  background-color: #6f00ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.juego button:hover {
  background-color:#00ffff
}

.juego:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* CONTACTO */
main {
  padding: 0px;
}

h1, h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Bruno Ace SC", sans-serif;
}

.contacto p, .ubicacion p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.1em;
  font-family: "Bruno Ace SC", sans-serif;
}

.formulario-container {
  max-width: 600px;
  margin: 0 auto;
  background: #000000;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario-container label {
  color: #6f00ff;
  font-family: "Bruno Ace SC", sans-serif;
}

form label {
  display: block;
  margin: 10px 0 5px;
  color: #000000;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 1em;
  font-family: "Bruno Ace SC", sans-serif;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #6f00ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

form button:hover {
  background-color: #00ffff;
}

.ubicacion .mapa {
  max-width: 800px;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

/*PRODUCTOS*/
main {
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Bruno Ace SC", sans-serif;
}

.productos p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.1em;
  font-family: "Bruno Ace SC", sans-serif;
}

.productos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajuste dinámico */
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.producto {
  background: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.producto img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.producto h2 {
  font-size: 1.2em;
  margin: 15px 0 10px;
}

.producto .precio {
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.producto button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.producto button:hover {
  background-color: #555;
}

.producto:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* TARJETAS */
main {
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family:"Bruno Ace SC", sans-serif;
}

.tarjetas p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.1em;
  font-family: "Bruno Ace SC", sans-serif;
}

.tarjetas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.tarjeta {
  background: rgb(239, 238, 238);
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.tarjeta img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.tarjeta h2 {
  font-size: 1.2em;
  margin: 15px 0 10px;
}

.tarjeta .precio {
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.tarjeta button {
  padding: 10px 20px;
  background-color: #6f00ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tarjeta button:hover {
  background-color: #00ffff;
}

.tarjeta:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/*# sourceMappingURL=styles.css.map */
