@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-size: cover;
}

header {
    background-color: #080a8a;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
}

header .logo {
    display: flex;
    align-items: center;
}

header img {
    width: 40px; /* Ajusta el tamaño del logo */
    height: 40px;
    margin-right: 10px; /* Espacio entre el logo y el texto */
    border-radius: 5px; /* Opcional: esquinas redondeadas */
}


header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

header nav ul li a:hover {
    text-decoration: underline;
}

header .busqueda {
    display: flex;
    margin-top: 10px;
}

header .busqueda input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    width: 200px;
}

header .busqueda button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

header .busqueda button:hover {
    background-color: #777;
}

.hero {
    background: url('../img/cyberpunk-2077-formulario.jpg') center/cover no-repeat; /* Ruta a tu imagen */
    height: 400px;
    text-align: center;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 2.5em;
    margin: 0;
}

.hero p {
    font-size: 1.2em;
}

.hero .btn-hero {
    background-color: #fff;
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
}

.hero .btn-hero:hover {
    background-color: #f0f0f0;
}

main {
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.productos-grid, .ofertas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.producto, .oferta {
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    background-color: #f9f9f9;
}
