body {
    font-family: Arial, sans-serif;
    background-size: cover;
    margin: 0;
}

.main {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

header {
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
}

header .logo {
    display: flex;
    align-items: center;
}

header img {
    width: 80px; /* Ajusta el tamaño del logo */
    height: 80px;
    margin-right: 10px; /* Espacio entre el logo y el texto */
    border-radius: 5px; /* Opcional: esquinas redondeadas */
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: #00f2ff;
    text-decoration: none;
    font-size: 1em;
}

header nav ul li a:hover {
    text-decoration: underline;
}

header .busqueda {
    display: flex;
    margin-top: 10px;
}

header .busqueda input {
    padding: 5px;
    border: 1px solid #00ffff;
    border-radius: 5px 0 0 5px;
    width: 200px;
}

header .busqueda button {
    background-color: #00ffff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

header .busqueda button:hover {
    background-color: #777;
}

.main .hero .hero-section {
    background: url("../img/cyberpunk-2077-formulario.jpg") center/cover no-repeat; /* Ruta a tu imagen */
    height: 600px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    color: #6f00ff;
}

.hero p {
    font-size: 1.2em;
    font-family: "Bruno Ace SC", sans-serif;
    color: white;
}

.hero .btn-hero {
    background-color: #6f00ff;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
}

.hero .btn-hero:hover {
    background-color: #00ffff;
}

h2 {
    font-size: 70px;
    background-color: #00ffff;
    font-family: sans-serif;
    font-family: "Bruno Ace SC", sans-serif;
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.productos-grid .producto button {
    background-color: #6f00ff;
    color: white;
}


.productos-grid .producto button:hover { 
    background-color: #00ffff;
}

.productos-grid .producto h3 {
    background-color: #00ffff;
    color: black;
    font-family:"Bruno Ace SC", sans-serif;
}

.productos-grid .producto {
    background-color: rgb(239, 238, 238);
}

.productos-grid .producto .precio {
    color: #000000;
}

.productos .productos-grid .producto h2 {
    color: #000000;
}

/*OFERTAS*/

.ofertas {
    font-size: 50px;
    background-color: #00ffff;
    font-family: "Bruno Ace SC", sans-serif;
}
