.pscards {
    @extend .products;

    h2 {
        font-size: 1.8em;
    }

    .card {
        padding: $padding;

        img {
            max-height: 150px;
        }

        button {
            padding: 10px 20px;
            background: $primary-color;
            color: $text-color;
            border: none;

            &:hover {
                background: $secondary-color;
            }
        }
    }
}
