.productos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.productos-grid .producto button {
    background-color: #6f00ff;
    color: white;
}

.productos-grid .producto button:hover { 
    background-color: #00ffff;
}

.productos-grid .producto h3 {
    background-color: #00ffff;
    color: black;
    font-family:"Bruno Ace SC", sans-serif;
}


.productos-grid .producto {
    background-color: rgb(239, 238, 238);
} 

.productos-grid .producto .precio {
    color: #000000;
}

.productos .productos-grid .producto h2 {
    color: #000000;
}


.juegos .juegos-grid .juego h2 {
    color: #000000;
}

.juegos p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.1em;
    font-family: "Bruno Ace SC", sans-serif;
}

.juegos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}


.tarjetas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}