body {
    background-color: $background-color;
    color: $primary-color;
    margin: 0;
    padding: 0;
    font-family: $font-family;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 $padding;
}

.hidden {
    display: none;
}

.text-center {
    text-align: center;
}
